/*
 * General
 */

body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background-color: #fee;
}

* {
    user-select: none;
}

/*
 * Overall Layout
 */

.App {
    text-align: center;
}

.App-header {
    background-color: #faa;
    padding: 1px;
    color: white;
    border-bottom: 1px solid #f88;
}

/*
 * Words Container Objects
 */

#wordbox {
    font-size: 120px;
}

#arrow{
    font-size: 120px;
    margin: -100px 0px -30px 0px;
}

.active {
    color: #f00;
}

.inactive {
    color: #000;
}

.control-button {
    font-size: 80px;
    border: 1px solid #F88;
    background: #faa;
}

.control-button:hover {
    cursor: pointer;
    background: #fcc;
    color: white;
}

