/*
 * General
 */

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

/*
 * Overall Layout
 */

.App {
  text-align: center;
}

.App-header {
  background-color: #ffbaba;
  padding: 1px;
  color: white;
  border-bottom: 1px solid black;
}

.App-title {
  font-size: 1.5em;
}


/*
 * Words Container Objects
 */

#wordbox-wrapper {
    padding-top: 20px;
}

#wordbox {
    text-align:center;
    font-size: 120px;
}

#arrow{
    text-align:center;
    font-size: 120px;
    margin-top: -40px;
}

.active {
    color: #f00;
}

.inactive {
    color: #000;
}

.control-button {
    text-align:center;
    font-size: 80px;
    border: 1px solid #000;
    background: #FF9A9A;
}

.control-button:hover {
    cursor: pointer;
    background: #FFBABA;
    color: white;
}

#rand-button {
    background: #FF9A9A;
}

